


#gridContainer div {
	border: 1px solid tomato;
	min-height: 50px;
	float: left;
	width: 25%;
}

#gridContainer div > div {
	border: 1px solid lightgreen;
}

* {
	box-sizing: border-box;
}

@media all and (max-width : 780px) {
	#gridContainer div {
		width: 50%;
	}
}

@media all and (max-width: 410px) {
	#gridContainer div {
		width: 100%;
	}
}

#list {
	position: relative;
	margin: 250px auto;
	width: 400px;
	border: 1px solid black;
}

#list > div {
	position: relative;
	opacity: 1.0;
	left: 0;
	width: 100%;
	height: 25px;
	border: 1px solid red;
	background-color: lightgrey;
	transition: opacity 2s;
}

#list > div:hover {
//	position:relative;
//	width: 50%;
//	background-color: lightgreen;
}